.progress-ing5 {
    position: relative;
    &::after {
        display: inline-block;
        content:"%";
        position:absolute;
        font-size: 18px;
        left: 50%;
        top: 50%;
        margin-top: -30px;
        margin-left: 15px;
        color: @blue;
    }
}
.circle-progress {width: 150px; height: auto;}

.circle-progress-value {
	stroke-width: 2px;
	stroke: @blue;
}
.circle-progress-circle {
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 8px;
	fill:rgba(255, 255, 255, 0.6);
}
.circle-progress-text {
	font-family: inherit;
	font-size: 18px;
	fill: @blue;
}