.progress-ing5 {
    position: relative;
    &::after {
        display: inline-block;
        content:"%";
        position:absolute;
        font-size: 18px;
        left: 50%;
        top: 50%;
        margin-top: -30px;
        margin-left: 15px;
        color: @blue;
    }
}
.circle-progress {
    z-index: 1;
    width: 150px;
    height: auto;
}
.navbar-sticky .progress-ing5 {
    &::after {
        font-size: 13px;
        margin-top: -25px;
        margin-left: 10px;
    }
    .circle-progress {
    width: 90px;}
}

.circle-progress-value {
	stroke-width: 8px;
	stroke: @blue;
}
.circle-progress-circle {
	stroke: rgba(255, 255, 255, 1);
	stroke-width: 8px;
	fill:rgba(255, 255, 255, 0.6);

}
.ibox-progress-circle-white {
    .circle-progress-circle {
        stroke: rgba(255, 255, 255, 0.3);
        stroke-width: 8px;
        fill:transparent;
   
    }
    .circle-progress-value {
        stroke-width: 8px;
        stroke: #FFF;
    }
    .progress-ing5 {
    &::after {
        color: #FFF;


    }
    .circle-progress-text {
        fill: #FFF;
        
    }
}
}
.circle-progress-text {
	font-family: inherit;
	font-size: 18px;
    font-weight: 600;
	fill: @blue;
}