/* Custom Design */

// Transition

.slimScrollBar,
.fa,
svg,
.ibox,
.ibox h1,
.ibox h2,
.ibox h3,
.ibox p,
.btn,
a {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

// Nav

.navbar-header {
  > a:first-child {
    position: fixed;
    z-index: 10;
    margin: 20px;
  }
}

.navbar-default {
  ul.nav {
    > li a {
      // font-size: 15px;
    }
  }
}

.nav-second-level {
  li {
    .fa {
      text-align: left;
    }
    &.active {
      a {
        font-weight: 400;
      }
    }
    a {
      padding-left: 32px;
      // font-weight: 400;
      // text-align: right;
    }
  }
  li:last-child {
  }
}

a {
  color: @brown;
}

.hidden {
  display: none;
}

.prev-box {
  position: fixed;
  right: 0;
  top: 0px;
  margin: 90px 20px 20px;
  z-index: 5;
}

.btn.navbar-minimalize,
.prev-box .btn {
  box-shadow: 0 0 3px rgba(15, 12, 12, 0.45);
}

.to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 32px;
  margin-bottom: 64px;
  .fa {
    color: @orange;
  }
}

// Button rounded

button,
a {
  &:not(.btn-outline-secondary) {
   
  }
  &.btn-prev-small {
  }
  &.btn-lg {
    border-radius: 1.5rem;
  }
  &.btn-login {
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }
  &.btn.btn-xs {
    font-size: 13px;
    padding: 0.2rem 0.6rem;
  }
}

// Input rounded

input.form-control {
  border-radius: @btn-border-radius;
  height: calc(1.5em + 0.75rem + 6px);
}
textarea.form-control {
  border-radius: @btn-border-radius;
}

// Ibox rounded

.ibox {
  &-tools {
    .profile-image {
      width: 75px !important;
      height: 75px !important;
      margin-right: 0.5em;
      img {
        width: 75px !important;
        height: 75px !important;
      }
    }
    .btn-trash {
      margin-top: -0.5em;
      margin-right: -0.5em;
      .fa {
        font-size: 1.5rem;
        color: @orange;
      }
    }
  }

  &-content {
    border-radius: @btn-border-radius;
    .fa {
      position: relative;
    }
  }

  &-title-orange {
    background-color: @orange;
    color: #fff;
    border: none;
    .close {
      color: #fff;
    }
  }

  &-title-test {
    padding-right: 120px;
  }

  &-title-gray {
    background-color: @gray;
  }

  .border-bottom-orange {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 4px solid @orange;
    .ibox-content {
      border: none;
    }
  }

  .border-left-orange {
    border-top: none;
    border-left: 4px solid @orange;
    border-right: none;
    border-bottom: none;
    .ibox-content {
      border: none;
    }
  }

  .border-right-orange {
    border-top: none;
    border-left: none;
    border-right: 4px solid @orange;
    border-bottom: none;
    .ibox-content {
      border: none;
    }
  }

  .ibox-title {
    border-top-left-radius: @btn-border-radius;
    border-top-right-radius: @btn-border-radius;
    + .ibox-content {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  &.border-top-orange .ibox-content {
    border-top: 6px solid @orange;
    border-left: none;
    border-right: none;
    border-bottom: none;
    .ibox-content {
      border: none;
    }
  }

  .border-bottom-orange {
    border-bottom: 6px solid @orange;
    border-left: none;
    border-right: none;
    border-bottom: none;
  }

  &-background-orange {
    .ibox-content {
      background-color: @orange;
    }
  }

  &-background-brown {
    .ibox-content {
      background-color: @brown;
      .btn-white {
        color: @text-color !important;
      }
    }
  }
  &-background-orange {
    .btn.btn-xs,
    .btn {
      background-color: white;
      color: @text-color !important;
    }
  }
  &-background-orange,
  &-background-brown {
    .ibox-content {
      border: none;
      a {
        color: #fff;
      }

      .fa,
      p,
      .text-muted,
      div,
      h1,
      h2,
      h3,
      h4,
      h5,
      span,
      ul,
      li {
        color: #fff !important;
      }
    }
  }
}

.ibox-content-transparent {
  border: none;
  background-color: transparent;
  padding: 0;
}

// Alert rounded

.alert {
  border-radius: @btn-border-radius;
}

// Expand

// Label notifications

.label-circle {
  border-radius: 15px;
  padding: 5px;
  display: inline-block;
  line-height: 20px;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 13px;
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  background-color: @blue;
}

.navbar-top-links,
.navbar-default {
  li > a {
    position: relative;
    > .label-circle {
      margin-top: -8px;
    }
  }
}
.navbar-default {
  li > a {
    position: relative;
    > .label-circle {
      margin-right: 8px;
    }
  }
}
.navbar-top-links {
  li > a {
    > .label-circle {
      margin-right: -12px;
      margin-top: -8px;
    }
  }
}

// Titles and bolder

.heading {
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
  .fa {
    font-size: 0.9em;
    display: inline-block;
    top: -2px;
    position: relative;
    margin-right: 2px;
  }
}

.ibox .ibox-content {
  h1,
  h2,
  h3 {
    font-weight: 400;
    text-transform: initial;
    > span {
      font-weight: 900;
      font-size: 1.2em;
    }
  }
}

/* Background */

.bg-nav {
  background-color: @nav-bg;
}

.bg-nav-fade-60 {
  background-color: fade(@nav-bg, 60%);
}

.bg-nav-fade-90 {
  background-color: fade(@nav-bg, 90%);
}

.bg-white-fade-60 {
  background-color: rgba(255, 255, 255, 0.6) !important;
}

.bg-white-fade-90 {
  background-color: rgba(255, 255, 255, 0.9) !important;
}

.bg-blue {
  background-color: @blue;
}

// header

.nav-header {
  background-image: none;
  text-align: center;
}

// User Menu

.navbar-top-links {
  margin-right: 16px;
  &.nav > li {
    text-align: center;
    &.active {
      background-color: transparent !important;
    }
    > a {
      margin-left: 4px;
      margin-right: 4px;
      margin-top: 14px;
      min-height: 36px;
      border-radius: 18px;
      width: 36px;
      line-height: 28px;
      padding: 4px 10px;
      > i::before {
        font-size: 1.2em;
        line-height: 1.2;
        vertical-align: middle;
      }
    }
    > a,
    > :focus {
      background-color: #fff !important;
      color: @brown;
      i {
        margin: 0;
      }
      &:hover {
        background-color: @orange !important;
        color: #fff;
      }
    }
  }
}

/* Footer */

.footer {
  position: relative !important;
}

.text-copyright {
  color: @nav-bg;
  img {
    display: inline-block;
    margin: 0px 2px 0 2px;
  }
}

// Body class

.mini-navbar {
  .sidebar-collapse .logo {
  }
}

// Login screen

.loginscreen .logo img {
  max-width: 100%;
}

@media only screen and (min-width: 768px) {
  // User Menu

  .navbar-top-links {
    &.nav > li {
      > a {
        margin-left: 4px;
        margin-right: 4px;
        margin-top: 14px;
        min-height: 45px;
        border-radius: 22px;
        width: 45px;
        line-height: 32px;
        padding: 6px 12px;
        > i.fa-sign-out {
          margin-left: 2px;
        }
        > i:before {
          font-size: 1.5em;
          line-height: 1.5;
        }
      }
    }
  }

  // Ibox

  .ibox {
    &-content-transparent-lg {
      border: none;
      background-color: transparent;
      padding: 0;
    }
    &-title-test {
      padding-right: 300px;
    }
  }

  // Login

  body.nav-hidden {
    .navbar-static-top,
    .navbar-static-side {
      display: none;
    }
  }

  .ibox.login {
    .form-group + .form-group input {
      max-width: 80%;
      margin: 0 auto;
    }
  }

  // Reduce size

  .navbar-sticky {
    .row.mt-lg-4 {
      margin-top: 0 !important;
    }
    .row:first-of-type {
      .col-lg-5 {
        h2 {
          display: none;
        }
      }
    }
    .ibox {
      &-sticky-hidden {
        height: 0;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }

      &.border-top-orange {
        margin-bottom: 1em;
        .ibox-content {
          h2,
          h3,
          h4,
          p,
          .stats span {
            display: none;
          }
          h1 {
            font-size: 24px;
            margin: 2px 0;
          }
          span.fa {
            float: left;
            font-size: 32px;
            padding: 0 !important;
            margin: 0 !important;
          }
          .progress-bar,
          .progress-small {
            height: 5px;
          }
        }
      }
      &-progress-circle {
        .heading {
          height: 36px;
        }
        .heading h3,
        p {
          opacity: 0;
          visibility: hidden;
          height: 0;
          overflow: hidden;
        }
      }
    }
  }
}

/* Blog */

.blog {
  .ibox {
    p a {
      font-weight: 600;
    }

    &-content {
      line-height: 1.7rem !important;
      img + p {
        margin-top: 1em;
      }
      p {
        font-size: 15px;
      }
    }
  }
}

/* Agenda, time line */

.dark-timeline {
  .vertical-timeline-content {
    h2 {
      font-weight: 600;
    }
    border-radius: @btn-border-radius;
    .vertical-date {
      font-size: 22px;
      font-weight: 500;
      text-transform: uppercase;
      color: @text-color;
      small {
        font-size: 22px;
        font-weight: 600;
      }
    }
  }
}

.center-orientation
  .vertical-timeline-block
  .vertical-timeline-content
  .vertical-date {
  float: none;
  text-align: center;
  margin: 0 auto;
}
.vertical-date {
  background-color: #fff;
  padding: 1em;
  display: block;
  border-radius: 12px;
}

@media only screen and (min-width: 992px) {
  .prev-box {
    margin-top: 150px;
  }
  .navbar-sticky .progress-ing5 {
    &::after {
      font-size: 13px;
      margin-top: -25px;
      margin-left: 10px;
    }
    .circle-progress {
      width: 90px;
    }
  }
}
@media only screen and (min-width: 1170px) {
  /* agenda */
  .center-orientation
    .vertical-timeline-block
    .vertical-timeline-content
    .vertical-date {
    text-align: left;
  }
  .center-orientation
    .vertical-timeline-block:nth-child(2n)
    .vertical-timeline-content
    .vertical-date {
    text-align: right;
  }
}
@media only screen and (max-width: 767px) {

  .ibox-content, .alert {
    padding:15px;
    .ibox-content {
      border-radius: 0.5rem;
    }
  }

  .canvas-menu.mini-navbar .nav-second-level li a,
  .fixed-sidebar.mini-navbar .nav-second-level li a {
    padding: 7px 10px 7px 30px;
  }
  .btn.btn-prev-small {
    width: 36px;
    display: block;
  }
  /* agenda */

  #vertical-timeline::before {
    left: 50%;
    margin-left: -2px;
  }

  .vertical-timeline {
    &-content {
      margin-left: 0;
    }
    &-block {
      margin-bottom: 3.6em;
    }
    &-icon {
      z-index: 2 !important;
      border: none;
      margin-left: -12px;
      margin-top: -12px;
    }
  }
}
